/***
**** Buttons 
***/

$button-text: map-get($colors, "dark-grey" );

.button {
    display: inline-block;
    padding: 1em 2em;
    text-transform: uppercase;
    font-family: $open-sans;
    font-size: 16px;
    font-weight: 600;
    border-radius: 2.5em;
    transition: all 0.3s;
    color: $button-text;
    letter-spacing: .7px;
    &:hover {
        transform: scale(1.05);
        color: #FFF !important;
    }
    &:visited {
        color: $button-text;
    }
    &--orange {
        @include button-maker("orange");   
    }
    &--solid-orange {
        @include button-maker("orange", false);
    }
    &--blue {
        @include button-maker("blue"); 
        color: #FFF !important;   
    }
    &--solid-blue {
        @include button-maker("blue", false);
        color: #FFF !important;
    }
    &--yellow {
        @include button-maker("yellow");    
    }
    &--solid-yellow {
        @include button-maker("yellow", false);
    }
    &--square {
        border-radius: 0;
    }
}

a.button:not(.button--yellow):hover, a.button:not(.button--solid-yellow):hover {
    color: #FFF;
}