/***
**** Content 
***/
section {
  &.padded-half {
    padding: 2em 0;
  }
  &.padded-full {
    padding: 4em 0;
  }
  &.padded-max {
    padding: 7em 0;
  }
}

//
// As of now this element is used on the Home and Workshops Page
// It is a full width banner with css background image and a text box overlay
// The class name is 'banner-full'
// The background image is set by the Featured Image of the post
// The overlaid text content is managed in the 'banner-text' custom field, managed on the edit page in wordpress. 
// Use markup in the custom-field value and style with css. 
//

.banner-full {
  min-height: 400px;
  background-size: cover;
  display: flex;
  justify-content: left;
  padding: $full-width-padding;
  &__text {
    color: #FFF;
    max-width: 700px;
    margin: 0 auto 0 5vw;
    @media only screen and (max-width: 768px) {
      font-size: .9em;
    }
  }
  &__title {
    color: #FFF;
    font-family: "Lato", sans-serif;
    font-size: 3em;
    line-height: 1;
    font-weight: 900;
    text-transform: none;
    @media only screen and (max-width: 768px) {
      font-size: calc(2em + 2vw)
    }
    & span {
      color: rgb(var(--spark));
    }
  }
  &__description {
    font-family: $open-sans;
    font-size: 1.3em;
  }
}

.workshops-header {
  .banner-full {
    background-color: #000;
    &__text {
      color: #FFF;
      max-width: 500px;
      margin: 0 auto 0 10vw;
      span.workshop__title {
        font-family: "Lato", sans-serif;
        font-size: 4em;
        line-height: 1;
        font-weight: 900;
        @media only screen and (max-width: 768px) {
          font-size: calc(2.2em + 3vw);
        }
        & span {
          color: rgb(var(--spark));
        }
      }
      span.workshop__description {
        font-family: $open-sans;
        font-size: 1.3em;
        @media only screen and (max-width: 768px) {
          font-size: 1em;
        }
      }
    }
  }
}

/****
****** Home Page
****/

/** Home page directly below banner **/
.workshop-announcement {
  font-family: "Lato", sans-serif;
  color: map-get($colors, "primary-blue");
  font-weight: 700;
  font-size: 2em;
  margin: 40px auto;
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
}

.main-content-section {
  padding-bottom: 100px;
  &--home {
    padding-bottom: 0;
  }
}


section.featured-items {
  background-image: url(../../uploads/2022/03/home-feature-background-light-grey-scaled.jpg);
  background-size: cover;
  background-position-x: center;
  background-position-y: bottom;
  .row {
    width: 100%;
    max-width: 1450px;
    // padding: $full-width-padding;
    padding: 0 1vw;
    display: flex;
    flex-direction: column;
    @media only screen and (min-width: 75em) {
      display: grid;
      grid-template-columns: [col] 40% [col] 16% [col] 40%;
      grid-template-rows: [row] auto [row] 300px [row] 300px [row] auto;
      grid-gap: 2%;
      grid-template-areas:
          "large-feature-1 large-feature-1 ."
          "large-feature-1 large-feature-1 small-feature-1"
          "small-feature-2 large-feature-2 large-feature-2"
          ". large-feature-2 large-feature-2";
    }
  }
  p {
    line-height: 1.3;
  }
}

.card.instructor-training {
  background-image: url(../../uploads/2022/02/weld-ed-home-feature-background-2.jpg);
  grid-area: large-feature-1;
}

.card.technical-research {
  background-image: url(../../uploads/2022/02/weld-ed-home-feature-background-3.jpg);
  grid-area: large-feature-2;
  justify-content: end;
}

.card.accreditation {
  grid-area: small-feature-1;
}

.card.affiliate {
  grid-area: small-feature-2;
}

section.featured-video {
  .row.video-wrapper {
    padding: 3vw;
    background-image: url(../../uploads/2022/02/featured-video-background-scaled.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

section.news-articles {
  padding: 60px 3vw;
  background: #000 center top / cover url(../../uploads/2022/02/news-section-image-background-scaled.jpg) no-repeat;
}

/****
***** Banners
****/
  
header.subpage-header {
  display: flex;
  justify-content: center;
  min-height: 400px;
  align-items: center;
  position: relative;
  /** default banner image **/
  background-image: url(../../uploads/2022/03/banner-pipe-top-sparks-2x.jpg);
  margin-bottom: 7em;
}

/** Mission & Focus Banner **/
.post-2 .subpage-header {
  background-image: url(../../uploads/2022/03/banner-multiple-welders-2x.jpg);
  @include bg-img-placement(top, center);
}

/** About Banner **/
.post-53 .subpage-header {
  background-image: url(../../uploads/2022/03/weld-ed-about-us-group-photo.jpg);
  @include bg-img-placement(center, center);
}

/** Regional Centers **/
.post-55 .subpage-header {
  background-image: url(../../uploads/2022/03/banner-auto-weld-1-2x.jpg);
  @include bg-img-placement(center, center);
}

/** Industry Partners Banner **/
.post-63 .subpage-header {
  background-image: url(../../uploads/2022/03/weld-ed-trailer-2x.jpg);
  @include bg-img-placement(center, center);
}

/** Accreditation Banner **/
.post-115 .subpage-header {
  background-image: url(../../uploads/2022/03/instructor-thumbs-up-2x.jpg);
  @include bg-img-placement(center, center);
}

/** Welding Certification Banner **/
.post-120 .subpage-header {
  background-image: url(../../uploads/2022/03/banner-pipe-top-sparks-2x.jpg);
  @include bg-img-placement(top, center);
}

/** Educator Resources Banner **/
.post-128 .subpage-header {
  background-image: url(../../uploads/2022/03/banner-station-work-2x.jpg);
  @include bg-img-placement(top, center);
}

/** Underserved Banner **/
.post-143 .subpage-header {
  background-image: url(../../uploads/2022/03/underrepresented-banner-2x.jpg);
  @include bg-img-placement(center, center);
}

/** Training & Education Banner **/
.post-152 .subpage-header {
  background-image: url(../../uploads/2022/03/banner-older-weber-lab-shoot-discussion-2x-2x.jpg);
  @include bg-img-placement(center, center);
}

/** Fabtech Banner **/
.post-155 .subpage-header {
  background-image: url(../../uploads/2022/02/fabtech-title-banner.jpg);
  @include bg-img-placement(center, center);
}

/** Affiliates Banner **/
.post-166 .subpage-header {
  background-image: url(../../uploads/2022/03/banner-spark-smoke-1-2x.jpg);
  @include bg-img-placement(top, center);
}

/******************** End Banners ************************/

.entry-title {
  text-align: center;
  max-width: 800px;
  padding: 1.5em 1em;
  position: relative;
  margin: 0 auto;
}

.subpage-header .entry-title {
  color: #fff;
  background-color: map-get($colors, "blue2");
  top: 170px;  
  margin: 0 10px;
}

/****
***** Workshops Page
****/

.workshops-header .entry-title {
  padding: 1.5em 1em 1em;
}

.workshop__intro {
  font-size: 1.3em;
  text-align: center;
  margin-bottom: 2em;
}

ul.workshop-modules__list {
  list-style-type: none;
  margin-left: 0;
  .card {
    padding: 3%;
    margin-bottom: 2rem;
  }
}

.module__info {
  padding: 1em;
  border: 2px solid rgb(var(--spark));
  margin-bottom: 30px;
  border-radius: 10px;
}

section.become-affiliate {
  background-image: linear-gradient(135deg, rgba(var(--blue3), 1) 30%, rgba(var(--carbon), 0.7) 50%, rgba(var(--spark), 0.7) 79%, rgba(var(--spark), 1));
}
  
ul.square-list {
  list-style: none;
  margin-left: 1em;
}
  
ul.square-list li::before {
  content: "■";
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: map-get($colors, "spark");
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}