/***
**** GLOBAL ****
***/

/*********** RESTORE _s LINK STYLES ****************/

 a {
	color: rgb(var(--primary-blue));
	text-decoration: underline;
}

a:visited {
	color: #353535;
}

a:hover,
a:focus,
a:active {
	color: #4169e1;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.5em;
}

/******************* END _s LINKS *******************/

  body {
    font-family: "open-sans", sans-serif;
    color: map-get($colors , "dark-grey");
    font-weight: 400;
    font-size: 16px;
    overflow-x: hidden;
  }

  #page {
	  overflow-x: hidden;
  }