/***
**** Colors 
***/

:root {
  --primary-blue: 41, 51, 92;
  --blue2: 76, 94, 168;
  --blue3: 110, 137, 245;
  --steel-blue: 126, 135, 168;
  --steel-gray: 88, 94, 117;
  --spark: 242, 167, 30;
  --carbon: 249, 107, 17;
  --borax: 249, 215, 17;
  --dark-grey: 53, 53, 53;
  --mid-grey: 130, 130, 130;
  --light-gray: 194, 194, 194;
  --white: 255, 255, 255;
}
/* use with rgb() like rgb(var(--blue2)); */

$colors:
  (
  "primary-blue": #29335C,
  "blue2": #4C5EA8,
  "blue3": #6E89F5,
  "steel-blue": #7E87A8,
  "steel-gray": #585E75,
  "spark": #F2A71E,
  "carbon": #F96B11,
  "borax": #F9D711,
  "dark-grey": #353535,
  "mid-grey": #828282,
  "light-gray": #C2C2C2,
  "white": #FFF,
);

/****
***** Typography
****/

$lato: "Lato", sans-serif;
$open-sans: "Open Sans", sans-serif;

/*****
****** Layout
*****/
$full-width-padding: 60px 3vw;

//
// section padding
//
$padded-extreme: 6em 0.9em;
$padded-extreme-even: 6em 0.9em;
$padded-full: 4em 0.9em 2em;
$padded-full-even: 4em 0.9em;
$padded-half: 2em 0.9em 1em;
$padded-half-even: 2em 0.9em;


//
// breakpoints
//
$break-phone: 480px;
$break-large-phone: 640px;
$break-tablet-under: 767px;
$break-tablet: 768px;
$break-tablet-over: 769px;
$break-laptop-under: 1023px;
$break-laptop: 1024px;
$break-laptop-over: 1025px;
$break-desktop: 1500px;
$break-large-screen: 2400px;

//
// aspect ratios
//
$aspect-2-1: calc(100vw * (1 / 2));
$aspect-3-2: calc(100vw * (2 / 3));
$aspect-4-3: calc(100vw * (3 / 4));
$aspect-16-9: calc(100vw * (9 / 16));
$aspect-21-9: calc(100vw * (9 / 21));
$aspect-4-1: calc(100vw * (1 / 4));

//
// media queries
//
$target-phone: "only screen and (max-width: " + $break-phone + ")";
$target-large-phone: "only screen and (max-width: " + $break-large-phone + ")";
$target-tablet-under: "only screen and (max-width: " + $break-tablet-under + ")";
$target-tablet: "only screen and (max-width: " + $break-tablet + ")";
$target-phone-tablet-range: "only screen and (min-width: " + $break-large-phone + ") and ( max-width: " $break-laptop-under + ")";
$target-tablet-range: "only screen and (min-width: " + $break-tablet + ") and (max-width: " + $break-laptop-under + ")";
$target-tablet-over: "only screen and (min-width: " + $break-tablet + ")";
$target-laptop-under: "only screen and (max-width: " + $break-laptop-under + ")";
$target-laptop: "only screen and (max-width: " + $break-laptop + ")";
$target-laptop-over: "only screen and (min-width: " + $break-laptop-over + ")";
$target-break-desktop: "only screen and (min-width: " + $break-desktop + ")";
$target-desktop-under: "only screen and (max-width: " + $break-desktop + ")";
$target-large-screen: "only screen and (min-width: " + $break-large-screen + ")";